<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebPozoriste</title>
   <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    
       
    
</head>
<body>
 
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Pozoriste "Dijalog"</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Pocetna</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">O nama</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Kontakt</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    
     
    
      
    
    <div class="container body-content">
        
        <div class="container">
            <div class="jumbotron">
                <h2>Ustanova kulturni centar</h2>
                <h1>Gradsko Pozoriste "Dijalog"</h1>
            </div>
            <div class="col-md-4">
                <vc:meni></vc:meni>
            </div>

            <span class="pull-right">
                <img src="~/images/gradsko-pozoriste-palanka.jpg" width="600" height="400" />

            </span>

        </div>
        <br />
        <br />
       
        

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Pozoriste "Dijalog"</p>
        </footer>
    </div>


    @RenderSection("Scripts", required: false)
</body>
</html>
