@model RegisterViewModel
@{
    ViewData["Title"] = "Registracija";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Kreirajte svoj nalog</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ime"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime"></label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drzava"></label>
                <input asp-for="Drzava" class="form-control" value="Srbija" />
                <span asp-validation-for="Drzava" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Grad"></label>
                <input asp-for="Grad" class="form-control" value="Beograd" />
                <span asp-validation-for="Grad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Adresa"></label>
                <textarea asp-for="Adresa" class="form-control"></textarea>
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Registruj se</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
