@model IEnumerable<Predstava>

 

@if (ViewBag.Predstava != "")
{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <div class="row">
        <div class="col-md-4">
            <h3>@ViewBag.Naziv</h3>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Naziv predstave
                        </th>

                        <th>
                            Kategorija
                        </th>
                         
                            
                         
                    </tr>
                </thead>
                <tbody>
                    @foreach (Predstava p in Model)
                    {
                        <tr>
                            <td>
                                @p.Naziv
                            </td>

                            <td>
                                @p.Kategorija
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="row">
        <h3>Ne postoji predstava</h3>


    </div>
}

<a asp-action="Index" asp-controller="Home" >Pronadji u spisku predtsva </a>







