@{
    ViewData["Title"] = "O pozoristu";
}
<h2>@ViewData["Title"]</h2>


<p>Kulturni centar osnovan je 2009. godine, proširivanjem delatnosti Gradskog pozorišta. Pozorišni amaterizam u Palanci datira još od početka prethodnog, dvadesetog vijeka, 1905.godine je izvedena predstava ‘Jazavac pred sudom’, a ovaj događaj slovi za početak pozorišnog amaterizma u Palanci. Godišnji program Gradskog pozorišta provodi se kroz rad Dječije, Omladinske i Velike scene. Svaka od njih u toku godine realizuje barem jednu novu predstavu. Ansambl Velike scene gotovo svake godine učestvuje na Festivalu amaterskih pozorišta Srbije u Kuli, a posebno zapažene bile su predstave ‘Zatočenici iz Altone’, Žan-Pol Sartra, u režiji Jovana Bulajića, ‘Maksim Crnojević’, takođe u Bulajićevoj režiji, ‘Kralj Ibi’, i ‘Sumnjivo lice’, u režiji Velimira Mitrovića, a u novije vrijeme nagradu u Kuli osvojila je i omladinska predstava ‘Žak ili pokornost’, u režiji Miroslava Jozića.</p>
